@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button {
  transition: ease-in 0.5s;
}

button:hover {
  transform: scale(1.05);
}

.shadow {
  box-shadow: 2px 2px 3px #B624A9;
}